body {
  font-family: "Montserrat-Light";
}

.img-responsive2 {
  width: 55px;
  height: 55px;
}
.section-heading {
  text-align: center;
}
.bg-dark {
    margin-bottom: 10px;
}
.para {
  text-align: center;
}
.imgnew {
  height: 240px;
  width: 540px;
}
.paranew {
  height: 15rem;
  width: 30em;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
